* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: #c0392b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 62px;
}
.header nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.content {
  padding: 20px 50px;
}
.body img {
  width: 475px;
  height: 365.38px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
h3 {
  text-align: center;
  color: red;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 50px;
}
.menu p {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
.menu strong {
  color: black;
}
.menu img {
  width: 300px;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 20px;
}
footer {
  width: 100%;
  height: 78px;
  background-color: #2c2c2c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

